.inline {
display: inline;
}

.sitemap a {
font-size: 30px;
color: #5a005d;
}

.ligne {		/* Ligne du formulaire de FeedBack */
display: block;
width: auto;
padding: 7px 0 7px 0;
margin: 10px 0 10px 0;
background-color: #f4e6ff;
}
.ligne p {
float:left;
width: 150px;
}

.comment {		/* Ligne d'affichage des commentaires */
padding: 7px 15px 7px 15px;
margin: 15px 0 15px 0;
-webkit-border-radius: 20;
-moz-border-radius: 20;
border-radius: 20px;
background-color: #f4e6ff;
word-wrap: break-word;
}
.louder {
padding: 7px 15px 7px 15px;
background-color: #e9cdff;
}

.jeuxImgBox {		/* Disposition des images dans Jeu.php */
display: block;
width: auto;
margin-bottom: 20px;
}
.jeuxImgBox img {
padding: 7px 10px 7px 10px;
}

.alignRight {
float:right;
}

#detail_nom {
word-wrap: break-word;
}

#listeAlbum {
max-height: 300px;
overflow-y: auto;
}
#listeAlbum a {
display: block;
padding-bottom: 10px;
word-wrap: break-word;
color: #373666;
}

#imgBig {
display: block;
margin: 0 auto;
max-width: 730px;
max-height: 730px;
padding: 10px 0 15px 0;
}
#listTof {
max-width: 730px;
overflow-x: auto;
white-space: nowrap;
padding-bottom: 10px;
}
.imgMiniature {
display: inline-block;
overflow: hidden;
padding-left: 5px;
padding-right: 5px;
}
.mini {
position: relative;
z-index: 1;
}
.mini img {
max-width: 150px;
max-height: 180px;
}
.dl {
display: none;
position: relative;
float: left;
margin: -37px 0 0 2px;
z-index: 2;
}
.dl img:hover {
height: 35px;
margin-top: -6px;
}
.suppr {
display: none;
position: relative;
float: left;
margin: -29px 0 0 29px;
z-index: 2;
}
.suppr img:hover {
height: 25px;
margin-top: -3px;
}
.loading {
display: none;
width: 20px;
padding-left: 15px;
}