#Interdit de lister le contenu des répertoires
Options -Indexes

#Redirige les erreurs vers mes propres pages d'erreur
ErrorDocument 401 http://localhost/guillaume/View/erreurs/401.php
ErrorDocument 403 http://localhost/guillaume/View/erreurs/403.php
ErrorDocument 404 http://localhost/guillaume/View/erreurs/404.php
ErrorDocument 500 http://localhost/guillaume/View/erreurs/500.php

#Active la réécriture des adresses
RewriteEngine On
# Si la requête correspond à un fichier standard dont la taille est supérieure à 0 ...
RewriteCond %{REQUEST_FILENAME} -s [OR]
# ... ou à un lien symbolique
RewriteCond %{REQUEST_FILENAME} -l [OR]
# ... ou à un répertoire
RewriteCond %{REQUEST_FILENAME} -d
# ... on laisse la requête tel quelle (le tiret veut dire pas de substitution)
# Drapeau NC (No Case) : comparaison insensible à la casse
# Drapeau L (Last) : ne pas interpréter les règles suivantes
RewriteRule ^.*$ - [NC,L]
# Sinon, on redirige vers dispatcher.php 
RewriteRule ^.*$ dispatcher.php [NC,L]